@model MichalNajwerLab2.Models.Order

@{
    ViewData["Title"] = "Zamówienie";
}

<h1>Złóż zamówienie</h1>

<h4>@ViewBag.pizza.Name</h4>
<h6>Cena: @ViewBag.pizza.Price</h6>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PizzaId" type="hidden" value=@ViewBag.pizza.Id />

            <div class="form-group">
                <label asp-for="City" class="control-label">Miasto</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Adress" class="control-label">Adres</label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Numer telefonu</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zamów!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
